/* Utilitites */

.font_normal {
  font-family: 'Noto Sans Display', sans-serif;
}

.font_highlight {
  font-family: 'Noto Sans Mono', monospace;
}

/* # FONT SIZES */
.font_100 {
  font-size: 0.5rem;
}

.font_200 {
  font-size: 0.75rem;
}

.font_300 {
  font-size: 1rem;
}

.font_400 {
  font-size: 1.5rem;
}

.font_500 {
  font-size: 2rem;
}

/* # FONT DECORATIONS */
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  font-style: underline;
}
